<!DOCTYPE html>
<!-- {% load static %} -->
<html lang="en">
    <nav class="navbar navbar-light bg-light justify-content-between">
        <a class="navbar-brand">Tangible AI</a>
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="query">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
      </nav>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        
    <!-- <link rel="stylesheet" href='{% static "css/mystyle.css" %}'> -->
</head>
<body>
    

    <div class="container">

        {% if results %}
        <!-- <div class="search results"> -->
            {% for r in results %}

            <div class="card">
                <div class="card-body">
                  <h6 class="card-title"> {{ r.0 }} | {{ r.5 }}  </h6>
                  <p class="card-text">

                    {{ r.3 }}
                    <br>
                    Article score: {{ r.1 }} | Section score: {{ r.6 }}

                    </p>
                  <a href="{{ r.2 }}">Go to Wikipedia</a>
                </div>
              </div> 

              {% endfor %}



              {% else %}
              <p>NOTHING FOUND</p>
              {% endif %}
  


     </div>
    
</body>
</html>